<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
//uses the navigation bar from fragments

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>
//if there are no cheeses display no cheese
//makes sure cheeses exists and its size is not 0

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.type.name}"></td>
    </tr>

</table>

</body>
</html>